<h1>Список клиентов</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Email</th>
    <th>Действия</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td>
        <%= link_to "Редактировать", edit_customer_path(customer) %> |
        <%= link_to "Удалить", customer, method: :delete, data: { confirm: "Вы уверены?" } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Добавить клиента", new_customer_path %>
