<div class="container mt-4">
  <h2 class="text-center mb-4">Список записей</h2>

  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Дата</th>
      <th>Статус</th>
      <th>Клиент</th>
      <th>Автомобиль</th>
      <th>Услуга</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <% @appointments.each_with_index do |appointment, index| %>
      <tr>
        <td><%= index + 1 %></td> <!-- Порядковый номер -->
        <td><%= appointment.appointment_date.strftime('%d.%m.%Y %H:%M') %></td>
        <td><%= appointment.status %></td>
        <td><%= appointment.customer.name %></td>
        <td><%= appointment.car.license_plate %> (<%= appointment.car.brand %> <%= appointment.car.model %>)</td>
        <td><%= appointment.service.name %></td>
        <td>
          <a href="<%= edit_appointment_path(appointment) %>" class="btn btn-warning btn-sm">✏ Редактировать</a>
          <%= button_to appointment_path(appointment), method: :delete, data: { turbo_confirm: "Вы уверены?" }, class: "btn btn-danger btn-sm" do %>
            🗑 Удалить
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <a href="<%= new_appointment_path %>" class="btn btn-success">➕ Добавить запись</a>
</div>
